<div class="contents row">
  <% @products.each do |product| %>
    <div class="content_post" style="background-image: url(<%= product.image %>);">
      <p><%= product.text %></p>
      <span class="name">
        <%= product.name %>
      </span>
    </div>
  <% end %>
</div>